<!doctype html>
<title>Search - <%= query %></title>
<script src="/resources/common.js" type="module"></script>
<link rel="stylesheet" href="/resources/common.css" />
<div id="container">
	<h1>Search result of "<%= query %>"</h1>
	<div>
		<form>
			<input id="search" name="q" value="<%= query %>" />
			<button type="submit">Search</button>
		</form>
	</div>
	<hr>
	<ul>
		<% for (const item of list) { %>
			<li><a href="/view/<%= item.id %>"><%= item.title %></a></li>
		<% } %>
	</ul>
</div>