{% extends "base.html" %}

{% block title %}Search - {{ query }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>Search result of "{{ query }}"</h1>
<div>
	<form>
		<input id="search" name="q" value="{{ query }}" />
		<button type="submit">Search</button>
	</form>
</div>
<hr>
<ul>
	{% for item in list %}
		<li><a href="/view/{{ item["id"] }}">{{ item["title"] }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
