{% extends "base.html" %}

{% block title %}top{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>List</h1>
<ul>
	{% for item in list %}
		<li><a href="/view/{{ item["id"] }}">{{ item["title"] }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
