<!doctype html>
<title>Edit - <%= item.id %></title>
<script src="/resources/common.js" type="module"></script>
<link rel="stylesheet" href="/resources/common.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
<style>
	#title {
		margin: 5px 0;
		width: 100%;
	}

	#body {
		margin: 5px 0;
		width: 100%;
		height: 100px;
		resize: vertical;
	}

	.btns {
		text-align: right;
	}

	#preview {
		margin-top: 10px;
	}
</style>
<div id="container">
	<div>
		<input id="title" value="<%= item.title %>">
	</div>
	<textarea id="body"><%= item.body %></textarea>
	<div class="btns">
		<button id="save">Save</button>
		<% if (!item.no_data) { %>
			<button id="delete">Delete</button>
		<% } %>
	</div>
	<hr/>
	<div id="preview" class="markdown-body"></div>
	<script>
		const no_data = <%- JSON.stringify(!!item.no_data) %>
		const id = <%- JSON.stringify(item.id) %>
		const title = document.querySelector("#title")
		const body = document.querySelector("#body")
		// preview
		{
			let tid = null
			body.addEventListener("input", eve => {
				clearTimeout(tid)
				tid = setTimeout(update, 400)
			})
			function update() {
				document.querySelector("#preview").innerHTML = marked(body.value)
			}
			update()
		}
		// post
		{
			document.querySelector("#save").addEventListener("click", eve => {
				confirm("Save?") && fetch("/edit/" + id, { method: "POST", body: JSON.stringify({ title: title.value, body: body.value }) })
					.then(e => e.json()).then(e => location.href = e.redirect)
			})
			no_data || document.querySelector("#delete").addEventListener("click", eve => {
				confirm("Delete?") && fetch("/delete/" + id, { method: "POST" })
					.then(e => e.json()).then(e => location.href = e.redirect)
			})
		}
	</script>
</div>